html{
	background-image:url(http://media-cache-ec0.pinimg.com/736x/aa/48/a0/aa48a0822d32f7dcc9616fff1e2330ee.jpg);
	width:800px;
}

body{
	font-family: Helvetica;
	min-width:500px;
	max-width:800px;
}

#navigation{
	position:fixed-relative;
	list-style:none;
	text-decoration:none;
	text-align:left;
	display:inline-block;
}

#Company_Name{
	background-color: black;
	height:50px;
	float:left;
}

#Company_Name a{
	color:white;
	font-size: 30px;
}

#Vendor_list{
	background-color:black;
	height:50px;
	float:right;
	margin-left: 100px;
}

#Vendor_list a{
	color:white;
	font-size: 30px;
}

#navigation a{
	display:inline-block;
	text-decoration:none;
	list-style:none;
}
