html{
	background-image:url(white-roses.jpg);
	background-color: black;
	/*background-size: 100% auto;*/
	background-repeat: repeat-x;
	background-position: top;
	background-attachment: fixed;
	height:auto;
	min-width: 600px;
	min-height: 385px;
}

body{
	font-family: Helvetica;
}

#navigation{
	position:fixed-relative;
	list-style:none;
	text-decoration:none;
	text-align:left;
	display:inline-block;
	width: 100%;
	margin-bottom: 30px;
}

#navigation ul{
	list-style:none;
}

#navigation a{
	text-align: center;
	display:inline-block;
	text-decoration:none;
	list-style:none;
}

#Company_Name{
	height:30px;
	float:left;
	position:absolute;
	margin-left: -40px;
	font-family: Times;
}

#Company_Name a{
	color:white;
	font-size: 30px;
}

#Vendor_list{
	height:30px;
	float:right;
}

#Vendor_list a{
	color:white;
	font-size: 15px;
}
