#main {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

#map-canvas {
	border: 10px;
	border-color: red;
	display: visible;
	height: 450px;
	width: 625px;
	float: right;
	position: absolute;
	border-radius:10px;
}

#results {
	border: 2px solid white;
	display: visible;
	width: 330px;
	height: 445px;
	float: right;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: rgba(255, 255, 255, 0.5);
	padding-left: 20px;
	color: #2F3237;
	margin: 0 auto;
	margin-left: 20px;
	border:2px solid silver;
	border-style: groove;
	border-radius:10px;
}

#searchAddress{
	color:#D9D9D9;
	display: inline-block;
}

#load{
	float:right;
	width:150px;
	display:inline-block;
}

.name {
	font-weight: bold;
}

.details1 {
	float: left;
	word-wrap:break-word;

}

.address{
		word-wrap:break-word;

}

.phone{
		word-wrap:break-word;

}

.details2 {
	float: right;
	margin-right: 7px;
}

ul{
	list-style-type: none;
	position: relative;
}

button {
	width: 85px;
	margin-right: 5px;
}


.vendorLi{
	height: 60px;
	border-bottom: 2px solid silver;
	position: inline;
	width: 120%;
	margin-left:-50px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}

a:link {
	text-decoration:none;
	color: white;
}
a:visited {
	text-decoration:none;
	color: blue;
}
a:hover {
	color: silver;
}

#content {
	background-color: rgba(255, 255, 255, 0.5);
	color: #2F3237;
	display: inline-block;
	position: relative;
	height:20%;
	width: 100%;
	margin: 0 auto;
	border-radius: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
	border:2px solid silver;


}

#A{
	float:left;
	border-right: solid;
	border-color:#2F3237;
	padding-right: 10px;
	padding-left:10px;
	margin-left: 5px;

}

#delivery, #payment, #product, #matches{
	font-size:11pt;
}

#content legend{
	font-weight: bold;
		margin-left: 5px;

}

#B{
	float:left;
	margin-right: 10px;
	padding-left: 20px;

}

#name {
	font-size: 14pt;
	font-weight: bold;
}

#profile {
	width: 90%;
	margin: 0 auto;
	margin-left:20px;
}

#matches{
	display: inline-block;
}

#green{
	height:10px;
	width:10px;
	background-color: #00EF3F;
	display: inline-block;
}

#yellow{
	height:10px;
	width:10px;
	background-color: #FAFD58;
	display: inline-block;
}

#red{
	height:10px;
	width:10px;
	background-color: #F47457;
	display: inline-block;
}

.vendorColor{
	height:45px;
	width:5px;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 10px;
	display:inline-block;
	float:left;
}


