#map-canvas {
	border: 10px;
	border-color: red;
	display: visible;
	height: 80%;
	width: 60%;
	position: absolute;
}

#results {
	border: 2px solid white;
	display: visible;
	height: 80%;
	width: 30%;
	position: absolute;
	left: 65%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: rgba(255, 255, 255, 0.5);
	padding-left: 20px;
	color: #151B54;
	margin: 0 auto;
	border:2px solid silver;
	border-style: groove;
	border-radius:10px;
}

.name {
	font-weight: bold;
}

#results-list ul {
	margin-left: -80px;
}

ul{
	list-style-type: none;
	position: relative;
}

.vendorLi{
	border-bottom: 2px solid silver;
	position: inline;
	width: 120%;
/*	margin-left: auto;
	margin-right: auto;*/
	margin-left:-50px;
}

a:link {
	text-decoration:none;
	color: white;
}
a:visited {
	text-decoration:none;
	color: blue;
}
a:hover {
	color: silver;
}

/*angular modal dialog*/

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
}


