legend{
	font-size: 18px;
	font-weight: none;
	color: #2F3237;
	font-weight: bold;
}

input{
	color: #2F3237;
	padding-left: 10px;
}

#content{

	background-color: rgba(255, 255, 255, 0.8);
	padding-left: 20px;
/*	color: #151B54;
*/	display: block;
	position: relative;
	height:20%;
	width:60%;
	top: 50px;
	margin: 0 auto;
	border:2px solid silver;
	border-style: groove;
	border-radius:10px;

}

#order{
	margin-left:auto;
	margin-right:auto;
	color: #2F3237;
	font-size: 18px;
	width: 80%;

}

#order input{
	width:90%;
}


#submit{
	text-align:center;
	font-size: 20px;
	display: block;
	clear:both;
}

#searchsubmit{
	border-style: solid;
	background: linear-gradient(#44494F,#2F3237);
	border-radius:5px;
	color:#D9D9D9;
	font-size: 16px;
	height:26px;
	width:100px;
	cursor: pointer;
}

#searchsubmit:hover{
	background:gray;
}

.error {
	border: 1px red solid;
}

.errorMsg {
	display: none;
	margin-bottom: 10px;
	font-size: 12px;
	color: red;
}



/*--------------------------flower animation-----------------------------
*/


