#map-canvas {
	border: 10px;
	border-color: red;
	display: visible;
	height: 400px;
	width: 400px;
	position: absolute;
}

#results {
	border: 2px solid black;
	display: visible;
	height: 400px;
	width: 270px;
	position: absolute;
	left: 410px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#name {
	font-size: 14pt;
}
ul {
	list-style-type: none;
	position: relative;
	left: -40px;
	top: -15px;
}

li {
	border-bottom: 2px solid black;
	position: inline;
	width: 260px;
	height: 110px;
}


a:link {
	text-decoration:none;
	color: black;
}
a:visited {
	text-decoration:none;
	color: black;
}
a:hover {
	color: gray;
}