#map-canvas {
	border: 10px;
	border-color: red;
	display: visible;
	height: 80%;
	width: 50%;
	position: absolute;
}

#results {
	border: 2px solid white;
	display: visible;
	height: 80%;
	width: 30%;
	position: absolute;
	left: 60%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: rgba(255, 255, 255, 0.5);
	padding-left: 20px;
	color: #151B54;
	margin: 0 auto;
	border:2px solid silver;
	border-style: groove;
	border-radius:10px;
}

#name {
	font-size: 14pt;
}

#results-list ul {
	margin-left: -80px;
}

ul{
	list-style-type: none;
	position: relative;
}

.vendorLi{
	border-bottom: 2px solid silver;
	position: inline;
	width: 100%;
	height: 180%;
	margin-left: auto;
	margin-right: auto;
}

a:link {
	text-decoration:none;
	color: white;
}
a:visited {
	text-decoration:none;
	color: blue;
}
a:hover {
	color: gray;
}

