#map-canvas {
	border: 10px;
	border-color: red;
	display: visible;
	height: 80%;
	width: 50%;
	position: absolute;
}

#results {
	border: 2px solid white;
	display: visible;
	height: 400px;
	width: 270px;
	position: absolute;
	left: 60%;
	overflow-x: hidden;
	overflow-y: scroll;
	color:white;
}

#name {
	font-size: 14pt;
}
ul {
	list-style-type: none;
	position: relative;
	left: -40px;
	top: -15px;
}

li {
/*	border-bottom: 2px solid white;
*/	position: inline;
	width: 260px;
	height: 110px;
}


a:link {
	text-decoration:none;
	color: white;
}
a:visited {
	text-decoration:none;
	color: blue;
}
a:hover {
	color: gray;
}