<!DOCTYPE html>
<html>
	<head>
		<title ClientProfile></title>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4CHn-S_e0LdeN8V0VW7ELs4mBJMLNCNw&sensor=false"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src ="../Database/partner_data.js"></script>
		<script type="text/javascript" src="../public/clientProfile.js"></script>
		<link rel="stylesheet" type="text/css" href="../public/allPages.css" />
		<link rel="stylesheet" type="text/css" href="../public/clientProfile.css" />
	</head>

	<body onload="loadProfile();">
		<div id='navigation'>
			<ul id ='Items'>
			<li id='Company_Name'><a href='searchPage.html'>COMPANY</a></li>
			<li id='search'><button id="navButton" onclick='window.location.href="searchPage.html"'>New Search</a></li> <br><br>
			<li id='Vendor_list'><button id="navButton" onclick='window.location.href="clientList.html"'>Vendors List</a></li>
			</ul>
		</div>
		
		<div id='content'>
		<table id='profile'>
		<tr>
			<td>
				<div id='non-table'>
					<div id="name"></div>
					<div id="address"></div><br>
					<div id="primaryContact">Primary contact: </div>
					<div id="phone">Phone: </div>
					<div id="email">Email: </div>
					<div id="website">Website: </div>
				</div>
			</td>
			<td>
				<table border="1">
					<tr>
						<td>Product Capability</td>
						<td id="prodCap"></td>
					</tr>
					<tr>
						<td>Payment Method</td>
						<td id="payment"></td>
					</tr>
					<tr>
						<td>Lead Time</td>
						<td id="leadTime"></td>
					</tr>
					<tr>
						<td>Consumer Gift Rate</td>
						<td id="consumerGiftRate"></td>
					</tr>
					<tr>
						<td>Consumer Sub Rate</td>
						<td id="consumerSubRate"></td>
					</tr>
					<tr>
						<td>Corporate Sub Rate</td>
						<td id="corporateSubRate"></td>
					</tr>					
				</table>
			</td>
		</tr>
		</div>
	</body>
