<!--when you're looking at a list of all the clients in the database-->

<!DOCTYPE html>
<html>
	<head>
		<title SearchPage></title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="../public/clientList.js"></script>
		<link rel='stylesheet' href='../public/allPages.css' type='text/css'/>
	</head>

	<body>
		<div id='navigation'>
			<ul id ='Items'>
			<li id='Company_Name'><a href='searchPage.html'>COMPANY</a></li>
			<li id='Vendor_list'><a href='clientList.html'>Vendor List</a></li>
			</ul>
		</div>

		<div id='content'>
			<ul id="vendorList">
				<!-- example for kohana to do css
				<li class="vendorLi"><div class="vendorName">Winnie's Flower Shop</div>
					<div class="vendorPhone">7146990601</div>
					<div class="vendorAddress">10456 Santa Marta St, Cypress, CA 90630</div>

			-->
			</ul>
		</div>
	</body>
</html>
