<!--when you're looking at a list of all the vendors in the database-->

<!DOCTYPE html>
<html>
	<head>
		<title> Vendor List</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src ="../Database/partner_data.js"></script>
		<script type="text/javascript" src="../public/clientList.js"></script>
		<link rel='stylesheet' href='../public/allPages.css' type='text/css'/>
		<link rel="stylesheet" type="text/css" href="../public/clientList.css" />

	</head>

	<body>
		<div id='navigation'>
			<ul id ='Items'>
			<li id='Company_Name'><a href='searchPage.html'>COMPANY</a></li>
			<li id='search'><button id="navButton" onclick='window.location.href="searchPage.html"'>New Search</a></li> <br><br>
			<li id='Vendor_list'><button id="navButton" onclick='window.location.href="clientList.html"'>Vendors List</a></li>
			</ul>
		</div> 
		<div id="main">
			<br><br>
			<div id='content'>
			<br>
				<div id='A'>
					<div id='Search'>
						<form id="searchByName" action="clientList.html" method="get">
							<div id='submit'>
								Search by name: <input type='text' name='name' >
								<input id="searchsubmit" type='submit'>
							</div>
						</form>
						<form id="searchByState" action="clientList.html" method="get">
							<div id='submit'>
								Search by state:  <input type='text' name='state' >
								<input id="searchsubmit" type='submit'>
							</div>
							<br>
						</form>
					</div>
				</div>
			</div>
	<br><br>
		<div id='content'>
			<ul id="vendorList"> <!--populated by javascript-->
			</ul>
		</div>
	</div>

	</body>
</html>
