<!DOCTYPE html>
<html>
	<head>
		<title> Search Page</title>
		<link rel='stylesheet' href='../styles/searchPage.css' type='text/css'/>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="../scripts/searchFormValidation.js"></script>
		<link rel='stylesheet' href='../styles/allPages.css' type='text/css'/>
	</head>

	<body>
		<div id='center'>
		<div id='navigation'>
			<ul id ='Items'>
			<li id='Company_Name'><a href='searchPage.html'>COMPANY</a></li>
			<li id='search'><button id="navButton" onclick='window.location.href="searchPage.html"'>New Search</a></li> <br><br>
			<li id='Vendor_list'><button id="navButton" onclick='window.location.href="vendorList.html"'>Vendors List</a></li>
			</ul>
		</div>

		<div id='content'>
			<br>
			<legend> Order Information </legend>
			<br>
			<form id="queryVendorForm" action="resultsPage.html" method="get">
				<div id='order'>
				Street Address (line 1):<br><input type='text' name='addressLine1' ><br>
				<span id="addressLine1" class="errorMsg">Can not be empty</span>
				Street Address (line 2):<br><input type='text' name='addressLine2' ><br>
				City: <br><input type='text' name='city' ><br>
				State: <br><input type='text' name='state' ><br>
				Zipcode: <br><input type='text' name='zipcode' ><br>
				Distance (in miles): <br><input type='text' name='distance'></br>
				<span id="distance" class="errorMsg">Specify a positive numerical value</span>
			</div>
			<br>
				<div id='submit'>
				<input id="searchsubmit" type='submit' value='Search'>
			</div>
			<br>
			</form>

			</div>


		</div>
	</div>
	</body>
</html>
