<!DOCTYPE html>
<html>
	<head>
		<title> Vendor Results</title>

		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4CHn-S_e0LdeN8V0VW7ELs4mBJMLNCNw&sensor=false"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src ="../Database/partner_data.js"></script>
		<script type="text/javascript" src="../public/client.js"></script>
		<script type='text/javascript' src='../public/clientProfile.js'></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
		<link rel="stylesheet" type="text/css" href="../public/allPages.css" />
		<link rel="stylesheet" type="text/css" href="../public/resultsPage.css" />
	</head>

	<body>
		<div id='navigation'>
			<ul id ='Items'>
			<li id='Company_Name'><a href='searchPage.html'>COMPANY</a></li>
			<li id='search'><button id="navButton" onclick='window.location.href="searchPage.html"'>New Search</a></li> <br><br>
			<li id='Vendor_list'><button id="navButton" onclick='window.location.href="clientList.html"'>Vendors List</a></li>
			</ul>
		</div>
		<div id="main">
			<br>
			<div id='searchAddress'>
				You searched for:
				<p id='search'></p>
				<button id='load'> Load more Vendors </a>
			</div>
			<br>
			<div id='content'>
				<legend> Filter Results </legend>
				<div id='A'>
					<div id='delivery'>
					<legend>Lead Time:</legend>
					<input type='radio' id='A1' name='Delivery Time' value='1' onclick='filterColors()' checked> None Specified 
					<input type='radio' id='A2' name='Delivery Time' value='2' onclick='filterColors()'> Same Day 
					<input type='radio' id='A3' name='Delivery Time' value='3' onclick='filterColors()'> Next Day 
					<input type='radio' id='A4' name='Delivery Time' value='4' onclick='filterColors()'> 2+ Days <br>
					</div>

					<div id='payment'>
					<legend>Payment Terms:</legend>
					<input type='radio' id='A1' name='Payment Terms' value='1' onclick='filterColors()' checked> None Specified
					<input type='radio' id='A2' name='Payment Terms' value='2' onclick='filterColors()'> CC Preferred
					<input type='radio' id='A3' name='Payment Terms' value='3' onclick='filterColors()'> CC Required
					<input type='radio' id='A4' name='Payment Terms' value='4' onclick='filterColors()'> Invoice <br>
					</div>
			</div>
			<div id='B'>
					<div id ='product'>
					<legend>Product Capability:</legend>
					<input type='checkbox' id='B1' name='Product Capability' value='1' onclick='filterColors()'> Plants 
					<input type='checkbox' id='B2' name='Product Capability' value='2' onclick='filterColors()'> Flowers 
					<input type='checkbox' id='B3' name='Product Capability' value='3' onclick='filterColors()'> Orchids <br> 
				</div>
					
					<div id='matches'>
					<legend>Display Markers by:</legend>	
					<input type='checkbox' name='B1' value='green' checked onclick='filterColors()'> <div id='green'></div> Exact Match
					<input type='checkbox' name='B2' value='yellow' checked onclick='filterColors()'> <div id='yellow'></div> Distance & Product Match
					<input type='checkbox' name='B3' value='red' checked onclick='filterColors()'> <div id='red'></div> Distance Only Match<br>
				</div>
			</div>

			</div>
			<br><br>
			<div id="map-canvas"></div>
			<div id="results">
				<ul id="results-list">
						<!--populated by javascript-->
				</ul>
			</div>
		</div>
	</body>
</html>rch(
