<!--display the results. the map is going to go on this page-->

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4CHn-S_e0LdeN8V0VW7ELs4mBJMLNCNw&sensor=false"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="../public/client.js"></script>
		<link rel="stylesheet" type="text/css" href="../public/style.css" />
	</head>

	<body>
		<h1>Search Results</h1>
		<button onclick="returnResults()">return results</button>
		<button onclick="calcDistance('451 Poppy Way Aptos CA', '116 Waterman Street Providence RI')">calc distance</button>
		

		<br>
		<div id="map-canvas">
		</div>
		<div id="results">
			<ul id="results-list">
				<li id="001" onclick="document.vendorAddress='8 Main Street Hingam massachusetts'; moveMapCenter();">
					<!--how to pass ID to the centerMap() function?-->
					<!--<a href="../resultsPage.html">-->
					<div id="icon">icon goes here</div>
					<div id="details">					
						<div id="name">Vendor Name<br></div>
						<div id="address">123 Address St., Providence RI 02912<br></div>
						<div id="desc">some details about the vendor some details about the vendor some details about the vendor<br></div>
					</div></a>
				</li>
			</ul>
		</div>
	</body>
</html>



