<!DOCTYPE html>
<html>
	<head>
		<title> Vendor Results</title>

		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4CHn-S_e0LdeN8V0VW7ELs4mBJMLNCNw&sensor=false"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src ="../Database/partner_data.js"></script>
		<script type="text/javascript" src="../public/client.js"></script>
		<script type='text/javascript' src='../public/clientProfile.js'></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
		<link rel="stylesheet" type="text/css" href="../public/allPages.css" />
		<link rel="stylesheet" type="text/css" href="../public/resultsPage.css" />
	</head>

	<body>

		<div id='navigation'>
			<ul id ='Items'>
			<li id='Company_Name'>COMPANY</a></li>
			<li id='search'><a href='searchPage.html'>Search</a></li> <br>
			<li id='Vendor_list'><a href='clientList.html'>Vendors</a></li>
			</ul>
		</div>
		<br><br><br>
		<div id='content'>
			<legend> Filter Results </legend>
			<div id='A'>
				<div id='delivery'>
				<legend>Lead Time:</legend>
				<input type='radio' id='A1' name='Delivery Time' value='None Specified' onclick='updateSearch()' checked> None Specified 
				<input type='radio' id='A2' name='Delivery Time' value='Same Day' onclick='updateSearch()'> Same Day 
				<input type='radio' id='A3' name='Delivery Time' value='Next Day' onclick='updateSearch()'> Next Day 
				<input type='radio' id='A4' name='Delivery Time' value='2+ Days' onclick='updateSearch()'> 2+ Days <br>
				</div>

				<div id='payment'>
				<legend>Payment Terms:</legend>
				<input type='radio' id='A1' name='Payment Terms' value='None Specified' onclick='updateSearch()' checked> None Specified
				<input type='radio' id='A2' name='Payment Terms' value='CC Preferred' onclick='updateSearch()'> CC Preferred
				<input type='radio' id='A3' name='Payment Terms' value='CC Required' onclick='updateSearch()'> CC Required
				<input type='radio' id='A4' name='Payment Terms' value='Invoice' onclick='updateSearch()'> Invoice <br>
				</div>
		</div>
		<div id='B'>
				<div id ='product'>
				<legend>Product Capability</legend>
				<input type='checkbox' id='B1' name='Product Capability' value='0' onclick='updateSearch()'> Plants 
				<input type='checkbox' id='B2' name='Product Capability' value='1' onclick='updateSearch()'> Flowers 
				<input type='checkbox' id='B3' name='Product Capability' value='2' onclick='updateSearch()'> Orchids <br> 
			</div>
				
				<div id='matches'>
				<legend>Match Markers by</legend>	
				<input type='checkbox' name='B1' value='green' checked> Exact Match (Green)
				<input type='checkbox' name='B2' value='blue' checked> Distance and Product (Blue)
				<input type='checkbox' name='B3' value='red' checked> Distance (Red) <br>
			</div>
		</div>

		</div>
		<br><br>
		<div id="map-canvas"></div>
		<div id="results">
			<ul id="results-list">
					<!--list items containing vendor info go here-->
			</ul>
		</div>

	</body>
</html>

